<!---  подключаем приложение для работы с статическими файлами--->
{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Django</title>
    <!-- Подключаем css--->
    <link rel="stylesheet" type="text/css" href="{% static "static/css/foundation.css "%}">
</head>
<body>
<div class="top-bar">
    <section class="top-bar-section" >
        <ul class="float-right">
            {%  if username %}
                <li><a href="{% url "logout" %}">Exit({{ username }})</a> </li>
            {% else  %}
                <li><a href="{% url "login" %}">Enter</a></li>
            {% endif %}
        </ul>
    </section>
</div>
<h1><a href="r'^'"> MY BLOG</a></h1>
<!-- сдвиг содержмого на середину с помощью foundation--->

    <div class="column small-9">
        {% block article %}{% endblock %}
        {% block login %}{% endblock %}
        {% block addarticle %}{% endblock %}
    </div>

    <div class="column small-2">
    <p>Сегодняшние статьи:</p>
{% for i in TodayArticles %}
    <a href="{%  url 'get' i.id 1 %}">{{ i.article_title }}</a><br>
{% endfor %}
    </div>



</body>
</html>